html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.wave_header {
  background: linear-gradient(180deg, #05d3fd, rgb(0, 0, 0));
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
}

/* wave svg */
.divider {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* title text */
.title {
  color: white;
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  /* position: relative;
  top: 125px; */
}

/* section text  */
.text_container {
  margin: 0 auto;
  width: 70%;
}

.text_container h2 {
  color: #146e79;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text_bottom {
  text-align: right;
  margin-bottom: 50px;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #001d24;
  margin-top: 50px;
  color: white;
}

.footer p {
  text-align: center;
  position: relative;
  top: 25%;
}

@media only screen and (max-width: 1024px) {
  .wave_header {
    background: linear-gradient(180deg, #386940, rgb(0, 0, 0));
  }
}

@media only screen and (max-width: 768px) {
  .wave_header {
    background: linear-gradient(180deg, #45315c, rgb(0, 0, 0));
  }
}

@media only screen and (max-width: 480px) {
  .wave_header {
    background: linear-gradient(180deg, #e29090, rgb(0, 0, 0));
  }
}
